
.introduction {
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), url("pc5cropped2.jpg");
    height: 90vh;
    width: 100% !important;
    color: white;
    background-size: cover;
    margin: 0 !important;
}

.introduction > .a {
    fill: white;
}

.listInLine {
    list-style: circle;
    font-size: 0.97vw;
}

.listInlineItem {
    margin-left: 4.5vw;
}

.mainSentence {
    font-size: 5.85vw;
    padding-bottom: 4.5vh;
    padding-top: 3vh;
}

.scrollHint {
    position: absolute;
    bottom: 4.5vh;
}