
.introduction {
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), url("pc5cropped2.jpg");
    height: 90vh;
    width: 100% !important;
    color: white;
    background-size: cover;
    margin: 0 !important;
}

.introduction > .a {
    fill: white;
}

.listInLine {
    list-style: circle;
    font-size: 0.97vw;
}

.listInlineItem {
    margin-left: 4.5vw;
}

.mainSentence {
    font-size: 5.85vw;
    padding-bottom: 4.5vh;
    padding-top: 3vh;
}

.scrollHint {
    position: absolute;
    bottom: 4.5vh;
}

.welcomeText {
    text-align: center;
    font-size: 1.5vw;
    padding-bottom: 1vh;
}

@media screen and (max-width: 890px) {
    .welcomeText {
        font-size: 2.5vw;
        padding-bottom: 0;
    }

    .listInLine {
        font-size: 2.97vw;
        padding-left: 0;
    }
}

@media screen and (max-width: 460px) {
    .welcomeText {
        font-size: 4vw;
        padding-bottom: 0;
    }

    .mainSentence {
        font-size: 6.85vw;
        padding-bottom: 1.5vh;
        padding-top: 1vh;
    }

}

@media screen and (max-width: 370px) {


}
