
.mainContainer {
    height: 77.5vh;
    background-color: #1A1B1E;
    width: 100%;
}

.imgsContainer {
    margin-left: 7.16vw;
    width: 650px;
}

.techContainer {
    background-color: #000;
    border-radius: 15px;
    width: 80%;
    height: 50%;
    color: white;
}

.title {
    text-align: center;
    padding-top: 7.21vh;
    padding-bottom: 1.57vh;
    font-size: 3.58vw;
    color: white;
}

.imgStyle {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.description {
    text-align: center;
    font-size: 1vw;
    color: #ADADAD;
}
