
#header {
    padding: 3vh  9.11vw 2vh;
    background-color: black;
}

.main-name {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.logo {
    padding-bottom: 1vh;
}

.navbar {
    padding-bottom: 2.5vh;
}

.navbar > a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
}
