
.footer {
    padding: 3vh  9.11vw 3vh;
    background-color: #000000;
    color: white;
}

.lstItemMargin {
    margin-left: 1.5rem;
}

.socialLst {
    padding-right: 0;
}

.lstItem:hover {
    cursor: pointer;
}

@media screen and (max-width: 1080px) {
    .footer {
        padding-right: 7.11vw;
    }

    .lstItemMargin {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 575px) {
    .footer {
        padding-top: 1vh;
    }

    .lstItemMargin {
        margin-left: 0.5rem;
    }

    .socialLst {
        padding-top: 14px;
    }
}
