
/** {*/
/*    font-family: Tahoma, serif;*/
/*}*/

.header {
    padding: 3vh  9.11vw 2vh;
    background-color: black;
    color: white;
}

.navbar {
    padding-bottom: 2.5vh;
}

.navbar a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

.navMargin {
    margin-left: 50px;
}


@media only screen and (max-width: 1240px) {
    .header {
        padding: 3vh  17.11vw 2vh 9.11vw;
    }
}

@media screen and (max-width: 990px) {
    .header {
        padding: 3vh  20px 0 9.11vw;
    }

    .navMargin {
        margin-left: 0;
        margin-top: 5px;
    }
}

@media screen and (max-width: 575px) {

}

/*@media only screen and (max-width: 950px) {*/
/*    .header {*/
/*        padding: 3vh  26.11vw 2vh 9.11vw;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 750px) {*/
/*    .header {*/
/*        padding: 3vh  26.11vw 2vh 9.11vw;*/
/*    }*/
/*}*/
